::ng-deep .p-dialog .p-dialog-header {
  background: #006D50;
  margin-bottom: 1rem;
}

::ng-deep .p-icon {
  color: white;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  color: white;
}
